@nav-height: 70px;
@sidebar-width: 250px;
@footer-height: 67px;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    margin: 0 auto -@footer-height;
    padding: 0 0 @footer-height;
    &.no-footer {
        margin: 0;
        padding: 0;
    }
    &.loading {
        position:relative;
        text-align: center;
        .well {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 70px;
            line-height: 70px;
            width: 300px;
            padding: 0;
            font-size: 30px;
            text-align: center;
        }
    }
    .navbar {
        height: @nav-height;
        .navbar-header {
            height: 100%;
            .navbar-brand {
                height: 100%;
                img {
                    margin-right: 20px;
                    height: 120%;
                }
            }
        }
        .navbar-nav {
            li a {
                padding: 25px 20px;
            }
        }
    }
    .navbar-toggle {
        float: left;
        margin-left: 15px;
    }
    #app {
        padding-top: @nav-height;
        #content {
            padding: 0 15px;
        }
    }
    @media (max-width: @screen-sm-min) {
        #app #content {
            padding: 0;
        }
    }
    @media (max-width: @screen-sm-min) {
        .navbar-toggle {
            display: block;
        }
        #app {
            #sidebar {
                transition: left 0.3s ease-in-out;
                left: -@sidebar-width;
                &.show {
                    left: 0;
                }
            }
            #content {
                margin-left: 0;
            }
        }
    }
}

table td {
    vertical-align: middle !important;
}

#footer {
    height: @footer-height;
}
