doctype html
html(ng-app='dinendash', ng-controller='App')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        link(rel='icon', type='image/png', href='/icon.png')
        title(ng-bind-template="{{ title }} - Dine 'N' Dash") Loading Dine 'N' Dash...
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel="apple-touch-icon", href="/icon.png")
        link(rel='shortcut icon', sizes='196x196', href='/icon.png')
        link(rel='stylesheet', href='/style.css')
    body
        #wrap.loading(ng-if='!loaded'): .well Loading
        #wrap.main(ng-cloak, ng-if='loaded', ng-class="{'no-footer': !bottom_button}")
            .navbar.navbar-fixed-top.navbar-inverse(ng-hide="tabletop")
                .navbar-header
                    .navbar-brand
                        img.main-logo(src='/logo.png')
                        span(ng-show='pos') Point of Sales
                ul.nav.navbar-nav.navbar-left(ng-show='pos')
                    li: a(href='/specials/') Specials
                    li: a(href='/tables/') Tables
                    li: a(href='/payments/') Payments
                    li: a(href='/items/') Menu Items
            #app: #content(ng-view)

        #footer.text-center(ng-cloak, ng-if='loaded', ng-show='bottom_button')
            button.btn.btn-lg.btn-block.btn-blue.button-footer(ng-click='button_pressed()')
                | {{ bottom_button }}
        include include_mixin
