.main-instruction {
    margin: 5px;
    font-size: 125%;
}

.mobile-title-box {
    margin: 10px;
}

.mobile-table {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    h5 {
        font-size: 12px;
        margin: 6px 10px;
    }

    .totals {
    font-size: 125%;
    }
}

.button-footer {
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    bottom: 0;
    height: 100%;
    border-radius: 0;
}
