<div class="mobile-title-box">
    <p class="main-instruction">Enter your name and selected the items you wish to pay for.</p>
    <input type="text" class="form-control" ng-model="payment.name" placeholder="Name">
</div>
<div class="center-block" ng-hide="items">Loading Items</div>
<table class="table mobile-table table-condensed" ng-show="items">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, item) in items"
                ng-click="set_selected(key, item)"
                ng-class="{success: payment_id == item.selected, danger: item.selected && payment_id != item.selected}">
            <td><h5>{{ item.name }}</h5></td>
            <td>{{ item.price | currency }}</td>
        </tr>
    </tbody>
    <tfoot class="totals">
        <tr class="active">
            <th>Subtotal</th>
            <th>{{ subtotal | currency }}</th>
        </tr>
        <tr>
            <th>Tax</th>
            <th>{{ tax | currency}}
        </tr>
        <tr class="active">
            <th>Total</th>
            <th>{{ (subtotal + tax) | currency }}
        </tr>
    </tfoot>
</table>
