<div class='processing' ng-show='processing'>
	<h1 class='processing-title'>Processing Payment</h1>
</div>
<div>
	<p class="main-instruction">Confirm your order and leave a tip.</p>
	<div class='alert alert-danger text-center' ng-show='payment_failed'>Payment Failed</div>
	<table class='table mobile-table payment'>
	    <thead>
	        <tr>
	            <th>Item</th>
	            <th>Price</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="(key, item) in items" ng-show="payment_id == item.selected">
	            <td><h5>{{ item.name }}</h5></td>
	            <td>{{ item.price | currency }}</td>
	        </tr>
	    </tbody>
		<tfoot class="table-condensed">
			<tr>
				<th>Subtotal</th>
				<td>{{ subtotal | currency }}</td>
			</tr>
			<tr>
				<th>Tax</th>
				<td>{{ tax | currency }}</td>
			</tr>
			<tr>
				<th class="tip">
					<span>Tip</span>
					<div class="btn-group">
						<button type='button' class='btn btn-default' ng-click='tip=calculate_tip(.10)'>10%</button>
	                    <button type='button' class='btn btn-default' ng-click='tip=calculate_tip(.15)'>15%</button>
	                    <button type='button' class='btn btn-default' ng-click='tip=calculate_tip(.20)'>20%</button>
					</div>
				</th>
				<td>	
					<div class="input-group tip-group">
						<span class="input-group-addon tip-addon">$</span>
		 				<input type="number" class="form-control" min="0" step='0.01' ng-model='tip'>
					</div>
				</td>	
			</tr>
			<tr class="active">
				<th>Total</th>
				<td>{{ subtotal + tax + tip | currency }}</td>
			</tr>
		</tfoot>
	</table>
</div>
