table.payment {
    
    .table-condensed tr {
        font-size: 125%;
    }
   
    .tip-group {
        width: 85px;
        
        .tip-addon {
            padding-left: 5px;
            padding-right: 5px;
        }
        
        .form-control {
            padding-left: 5px;
        }
    }
    
    .btn-group {
        float: right;
    }
    
    .tip {
        line-height: 2.3em;
    }
}

.main-instruction {
    text-align: center;
    font-size: 125%;
    margin: 5px;
}
.processing {
    position:fixed;
    z-index:100;
    background: rgba(255,255,255,0.9);
    top:@nav-height;
    left:0;
    right:0;
    bottom:0;
}
.processing-title {
    text-align: center;
    padding-top: 15%;
}
