<div class="mobile-title-box">
    <h2>Payment Successful</h2>

    <div class="alert alert-success text-center" ng-show="email_sent">Email sent to {{ email }}.</div>
    <div class="alert alert-warning text-center" ng-show="sending_email">Sending email to {{ email }}.</div>
    <div class="alert alert-danger text-center" ng-show="send_failed">Failed to send email to {{ email }}.</div>

    <div ng-hide="email_sent || sending_email">
        <form ng-submit="send_email(email)">
            <div class="input-group">
                <input type="email" placeholder="Email Address" ng-model="email" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-blue">Email Receipt</button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="receipt">
    <div class="header">
        <a href="http://mahonyandsons.com/" target="_blank">
            <img class="rest-logo" src="/rest_logo.png">
        </a>
    </div>
    <div class="address">
        <p>5990 University Blvd, Vancouver, BC V6T 1Z3</p>
        <p>(604) 827-4444</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
	        <tr class="item" ng-repeat="item in payment.items">
	            <td>{{ item.name }}</td>
	            <td>{{ item.price | currency }}</td>
	        </tr>
        </tbody>
        <tfoot>
	        <tr>
	            <th>Subtotal</th>
	            <td>{{ payment.subtotal | currency }}</td>
	        </tr>
	        <tr>
	            <th>Tax</th>
	            <td>{{ payment.tax | currency }}</td>
	        </tr>
	        <tr>
	            <th>Tip</th>
	            <td>{{ payment.tip | currency }}</td>
	        </tr>
	        <tr>
	            <th>Total</th>
	            <td>{{ payment.total | currency }}</td>
	        </tr>
        </tfoot>
    </table>
    <div class="card-info">
        <p>Payment by {{ payment.card_type }}: **** **** **** {{ payment.card_number }}</p>
        <p>{{ payment.created | date:"yyyy/MM/dd HH:mm" }}</p>
        <a href="https://dinendash.in/" target="_blank">
            <img class="mini-logo" src="/logo_mini.png">
            <p>Payment by Dine 'N' Dash</p>
        </a>
    </div>
</div>
