.receipt {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px auto;
    background-color: #fff;
    width: 300px;
    padding: 20px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

    .header {
        text-align: center;
    }
    .address {
        text-align: center;
        font-size: 10px;
        p {
            margin-bottom: 5px;
        }
    }
    .rest-logo {
        margin-top: 20px;
        width: 70%;
    }
    a > p {
        margin: 5px 0 0;
        color: #000000;
        text-decoration: underline;
    }
    table {
        width: 100%;
        margin: 20px 0px 20px;
    }

    tbody, thead {
        tr > *:last-child {
            text-align: right;
        }
    }

    th, td {
        vertical-align: bottom!important;
    }

    tfoot {
        tr:first-child > * {
            padding-top: 15px;
        }
        th {
            text-align: right;
            padding-right: 25px;
        }
        td {
            text-align: right;
        }
    }

    .card-info {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 10px;
        text-align: center;
        p{
            margin-bottom: 0;
        }
    }
    .mini-logo {
        height: 30px;
        margin-top: 5px;
    }
}
.mobile-title-box {
    text-align: center;
    h2 {
        margin-top: 15px;
    }
}