.add-items {
    position: relative;
    .add-list {
        & > div {
            padding: 2.5px 2.5px;
        }
        button {
            padding: 0;
            width: 100%;
            height: 75px;
            word-wrap: normal;
            white-space: normal;
        }
    }
}
