
<div class="row add-items">
    <div class='col-xs-6'>
        <div table-items-view="table"></div>
    </div>
    <div class="col-xs-6">
        <div class='row add-list' ng-hide='selected.category'>
            <div class="col-xs-3"  ng-repeat="(key, category) in categories">
                <button ng-click="selected.category=selected.category==key||key" class="btn btn-lg btn-default">
                    {{ category.name }}
                </button>
            </div>
        </div>
        <div class='row add-list' ng-show='selected.category'>
            <div class="col-xs-3"  ng-repeat="item in menu_items | orderByPriority | inCategory:selected.category">
                <button class="btn btn-lg btn-success add-item"  ng-click="add_item(item)">
                    {{ item.name }}
                </button>
            </div>
        </div>
    </div>
    <div class="bottom-buttons row">
        <div class="col-xs-6">
            <button ng-click="selected.category=false"  class='btn btn-lg btn-warning btn-block'>Show Categories</button>
        </div>
        <div class="col-xs-6">
            <a ng-href="/tables/{{table.key}}/" class='btn btn-lg btn-danger btn-block'>Return to Table</a>
        </div>
    </div>
</div>
