.special-price {
    .input-group-addon {
        padding-left: 5px;
        padding-right: 5px;
    }
    .form-control {
        padding-left: 5px;
        min-width: 70px;
    }
    width:40px;
}
.form {
	.form-control {
		margin-top: 8px;
	}
	.btn {
		margin-top: 8px;
	}
}
