<h2>Menu Items</h2>
<button ng-click="save()" class="btn btn-success">Save Specials</button>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Special Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-repeat="(key, category) in categories">
        <tr ng-class="{active: show_cat}" ng-click="show_cat=!show_cat">
        	<th colspan="6">{{ category.name }}</th>
        </tr>
        <tr ng-repeat="(key,item) in menu_items | inCategory:key" ng-show="show_cat || item.special">
            <td ng-click="item.special=!item.special">
                <i class="glyphicon" ng-class="{'glyphicon-star':item.special, 'glyphicon-star-empty':!item.special}"></i>
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>
                <span ng-show='!item.special'>{{ item.price | currency }}</span>
                <span ng-show='item.special'>{{ item.special_price | currency }}</span>
            </td>
            <td class="special-price">
                <div class='input-group' ng-show="item.special">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" type='number' placeholder='Special Price' ng-model='item.special_price' min='0' step='0.01'/>
                </div>
            </td>
            <td ng-click="remove_item(key)">&times;</td>
        </tr>
    </tbody>
</table>

<h2>Add Item</h2>
<div class='form'>
    <form ng-submit="create_menu()">
        <input type="text" required="required" placeholder="Menu Item" ng-model="new_item.name" class="form-control"/>
        <input type="text" required="required" placeholder="Description" ng-model="new_item.description" class="form-control"/>
        <input class="form-control" type="number" required="required" placeholder="Price" ng-model="new_item.price" min='0' step='0.01'/>
        <select ng-model="new_item.category" required="required" class="form-control">
            <option value="">Choose Item Type</option>
            <option ng-repeat="(key, category) in categories" value="{{ key }}">{{ category.name }}</option>
        </select>
        <button class="btn btn-success btn-block">Add</button>
    </form>
</div>