<h2>Payments</h2>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Email</th>
        <th>Type</th>
        <th>Card Number</th>
        <th>Items</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr class="success" ng-repeat-start="payment in payments | orderByPriority | orderBy:'created':true" ng-click="show_items=!show_items">
        <td>{{ payment.created | date:'MMM d, y HH:mm:ss' }}</td>
        <td>
            <span class="glyphicon glyphicon-check" ng-show="payment.email_sent"></span>
            <span class="glyphicon" ng-hide="payment.email_sent">&nbsp;</span>
            &nbsp;{{ payment.email_sent_to || payment.email }}

        </td>
        <td>{{ payment.card_type }}</td>
        <td>**** **** **** {{ payment.card_number }}</td>
        <td>{{ payment.items.length }}</td>
        <td>{{ payment.total | currency }}</td>
    </tr>
    <tr ng-repeat="item in payment.items" ng-repeat-end ng-show="show_items">
        <td colspan="1"></td>
        <td colspan="3">{{ item.name }}</td>
        <td colspan="2">{{ item.price | currency }}</td>
    </tr>
    </tbody>
</table>
