<h2>Specials</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in menu_items | orderByPriority | filter:{'special': true}">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.special_price | currency }}</td>
    </tr>
    </tbody>
</table>
