.tables-list {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    & > * {
        padding: 0;
    }
    .btn {
        margin: 5px;
        display: block;
        padding: 30px 0;
    }
}
.logo-rest {
    @media (max-width: @screen-sm-max) {
        margin: 30px 10px;
        width: 100%;
    }
    display: block;
    margin: 200px auto;
    width: 500px;
}
