.table-items {
    .items-view-header {
        width:100%;
        margin-bottom:0;
    }
    .items-view-overflow {
        overflow:auto;
        height:590px;
        width: 100%;
    }
    .items-view {
        width:100%;
    }
    .item-remove {
        width: 8%;
    }
    .item-name {
        width: 45%;
    }
    .item-split {
        width: 45%;
    }
    .remove-key {
        margin-left: 15px;
    }
    .item-price-list {
        line-height: 2.5em;
    }
}
