.table-payments {
    .payment-view-header {
        width:100%;
        margin-bottom:0;
    }
    .payment-view-overflow {
        overflow:auto;
        height:340px;
        width: 100%;
    }
    .payment-view {
        width:100%;
    }
}

.table-view {
    .confirm-question {
        padding: 2px;
        .alert {
            font-size: 25px;
            padding: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .right {
            float: right;
        }
        .btn {
            min-width: 45%;
        }
    }
}
.bottom-buttons {
    position: fixed;
    bottom: 0;
    left: 52%;
    right: 0;
    .links {
        padding-bottom: 4px;
    }
    .btn {
        padding: 30px 0;
    }
    .col-xs-6 {
        padding: 2px;
        .btn {
            margin: 2px;
        }
    }
}
