<div class="text-center">
    <img class="logo-rest" src="/rest_logo.png">
</div>
<div class="row tables-list">
    <div class="col-xs-4" ng-show='table.name' ng-repeat="table in tables | orderByPriority">
        <a ng-href="/tables/{{table.key}}/" ng-class="{'btn-success': table.paid}" class="btn btn-default btn-lg">
            {{table.name}}
        </a>
    </div>
</div>
