<div class="table-top" ng-click="fullscreen()">
    <div class='logo'>
        <img class='rest-logo' src="/rest_logo.png">
    </div>
    <div class='specials' ng-show="!table.show_qr || !table.items">
        <h1 class='title'> FEATURES | GNÉITHE</h1>
        <div class='line'>
            <img class='double-line' src="/doubleline.png">
        </div>
        <div class='items' ng-repeat="item in menu_items | orderByPriority | filter:{'special': true}">
            <p>
                <div class='item-title'><h1>{{ item.name }}</h1></div>
                <div class='item-description'><h3>{{item.description}}</h3></div>
                <div class='item-price'><h2>{{item.special_price | currency:''}}</h2></div>
                <div class="glyphicon glyphicon-certificate" ng-hide="$last"></div>
            </p>
        </div>
    </div>
    <div ng-show="table.show_qr && table.items">
        <div class='qr-view' ng-hide="calculate_total(table.items) - calculate_paid(table.payments) == 0">
            <h1>Scan QR Code to Pay</h1>
            <div class="qr">
                <img class="qr-img" ng-src="http://qrfree.kaywa.com/?d={{domain}}/checkout/{{table.key}}/"/>
                <img class="qr-logo" src="/qr_logo.png" />
            </div>
        </div>
        <div class="payment-complete" ng-show="calculate_total(table.items) - calculate_paid(table.payments) == 0">
            <h1>Payment Complete!</h1>
            <h1>Thank you for visiting Mahony and Sons.<br>See you again soon!</h1>
        </div>
    </div>
</div>