<div class="row table-view">
    <div class='col-xs-6'>
        <div table-items-view="table"></div>
    </div>
    <div class='col-xs-6'>
        <div class='table-payments'>
            <table class="table payment-view-header">
                <thead>
                <tr>
                    <th class="payment-name">Payment Name</th>
                    <th class="payment-amount">Total</th>
                    <th class='payment-tip'>Tip</th>
                </tr>
                </thead>
            </table>
            <div class="payment-view-overflow">
                <table class="table payment-view">
                    <tbody>
                        <tr ng-repeat="(key,payment) in table.payments" ng-class="{warning: !payment.total, success: payment.total}">
                            <th>{{ payment.name || payment.email || key }}</th>
                            <th>{{ payment.subtotal | currency }}</th>
                            <th>{{ payment.tip | currency }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class='table'>
                <tr>
                    <th>Total Payments</th>
                    <th>{{ calculate_paid(table.payments) | currency }}</th>
                    <th>{{ calculate_tip(table.payments) | currency }}</th>
                </tr>
                <tr>
                    <th>Outstanding</th>
                    <th>{{ calculate_total(table.items) - calculate_paid(table.payments)| currency }}</th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
    <div class="row bottom-buttons">
        <div class="col-xs-12 links">
            <a ng-href="/tables/{{table.key}}/tabletop" target="_blank">Go to tabletop view</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a ng-href="/checkout/{{table.key}}/" target="_blank">Go to checkout</a>
        </div>
        <span ng-hide="show_clear">
            <div class="col-xs-6">
                <button class="btn btn-danger btn-lg btn-block" ng-click="show_clear=!show_clear">Clear {{table.name}}</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-lg btn-block btn-default" ng-hide="table.show_qr" ng-click="table.show_qr=true">Show QR</button>
                <button class="btn btn-lg btn-block btn-success" ng-show="table.show_qr" ng-click="table.show_qr=false">Hide QR</button>
            </div>
            <div class="col-xs-6">
                <a ng-href="/tables/" class="btn btn-default btn-lg btn-block">All Tables</a>
            </div>
            <div class="col-xs-6">
                <a ng-href="/tables/{{table.key}}/additem" class="btn btn-success btn-lg btn-block">Add Items</a>
            </div>
        </span>
        <div ng-show="show_clear" class="col-xs-12 confirm-question">
            <div class="alert alert-danger text-center">Are you sure?</div>
            <button class="btn btn-lg btn-danger" ng-click="show_clear=!show_clear">NO</button>
            <button class="btn btn-lg btn-success right" ng-click="clear_table(); show_clear=!show_clear">YES</button>
        </div>
    </div>
</div>
