.table-top {
    .logo {
        text-align: center;
        .rest-logo {
            height: 15%;
            width: 90%;
            margin-top: -35px;
        }
    }
    .title {
        text-align: center;
        font-weight: 900;
    }

    .item-description {
        margin: 0px 40px;
    }
    .items {
        text-align: center;
        h1 {
            text-transform: uppercase;
        }
    }
    .item-price {
        font-style: italic;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .specials {
        font-family: 'Alegreya', serif;
        h2 {
            margin-top: 10px;
        }
        h1 {
            margin-top: 10px;
        }
    }
    .line {
        text-align: center;
        .double-line {
            width: 60%;
            margin-bottom: 10px;
        }
    }
    .qr-view {
        text-align: center;
        h1 {
            font-family: 'Alegreya', serif;
            text-transform: uppercase;
            font-weight: bold;
            font-size: xx-large;
            margin-top: 40px;
            margin-bottom: 60px;
        }
        .qr {
            width: 500px;
        }
    }
    .payment-complete {
        margin-top: 250px;
        font-family: 'Alegreya', serif;
        text-align: center;
    }
}
.qr {
    display: inline-block;
    position: relative;
    .qr-img {
        top: 0;
        left: 0;
        width: 100%;
    }
    .qr-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 18.5%;
        margin: -9.5% -18.5%;
    }
}
