<div class='table-items'>
    <table class="table items-view-header">
        <thead>
        <tr>
            <th class='item-remove'></th>
            <th class='item-name'>Item</th>
            <th class='item-price'>Price</th>
            <th class='item-payment'>Payment</th>
        </tr>
        </thead>
    </table>
    <div class='items-view-overflow'>
        <table class='table items-view'>
            <tbody>
            <tr ng-repeat="item in table.items | reverse" ng-class="{warning: item.selected && !table.payments[item.selected].total, success: table.payments[item.selected].total}">
                <td class='item-remove'>
                    <div ng-show="!table.payments[item.selected].total">
                        <span class='remove-key' ng-click="remove_item(item)">&times;</span>
                    </div>
                </td>
                <th class='item-name' ng-show="!split_view" ng-click="split_view=true"><h5>{{ item.name }}</h5></th>
                <th ng-show="split_view && item.selected"><h5>{{ item.name }}</h5></th>
                <td class='item-split' ng-show="split_view && !item.selected">
                    <div class='input-group'>
                        <input type='number' min='2' step="1" ng-model='splitBy' class='form-control'>
                    		<span class='input-group-btn'>
                    			<button class='btn btn-default' ng-show='splitBy > 1'ng-click="split_item(item, splitBy);split_view=false" type='button'>Split</button>
                                <button class='btn btn-default' ng-hide='splitBy > 1'ng-click="split_item(item, splitBy);split_view=false" type='button'>Cancel</button>
                    		</span>
                    </div>
                </td>
                <th class='item-price-list'>{{ item.price | currency }}</th>
                <td class='item-payment'>
                    <div ng-show="!table.payments[item.selected].total">
                        <span ng-click="item.selected=false" ng-show="item.selected">{{ table.payments[item.selected].name || table.payments[item.selected].email || item.selected}}</span>
                    </div>
                    <div ng-show="table.payments[item.selected].total">
                        <span ng-show="item.selected">{{ table.payments[item.selected].name || table.payments[item.selected].email || item.selected}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
